.comments__statement {
    box-sizing: border-box;

    width: 40%;
}

@media (max-width: 810px)  {
    .comments__statement  {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  }
