.services__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;

    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    width: 100%
}

@media (max-width: 554px)  {
    .services__cards {
        justify-content: center;
    }
  }