.comments__box {
    box-sizing: border-box;
    width: 100%;
    padding: 2em;
    background-image: url('../../../images/client-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
}