.services__card {
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px 30px 10px 10px;
}
