.services__card {
    margin: 40px 0 0;
    z-index: 2;
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px 30px 10px 10px;
    background-color: white;
}
