.header__item {
    margin-left: 20px;
    transition: margin-bottom 0.2s;

    font-size: calc(0.5em + 0.5vw);
}

.header__item:hover {
    cursor: pointer;
    opacity: 0.7;
}
.header__item:first-of-type {
    margin-left: 0
}

@media(min-width: 3000px) {
    .header__item {
        font-size: 2em;
    }
}