.footer {
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    max-width: 1440px;

    margin: 100px auto 0;  
    padding: 5% 5% 0;

}
