.comments__lists {
    box-sizing: border-box;

    width: 50%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    list-style: none;
}

@media (max-width: 810px)  {
    .comments__lists  {
        width: 100%;
        margin-top: 20px;
    }
  }
