.header {
    position: relative;

    box-sizing: border-box;
    max-width: 1440px;
    padding: 1% 5%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.349);

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 525px)  {
    .header {
        flex-direction: column;
    }
  }