.header__button {
    display: flex;
    align-items: center;
    max-width: 150px;
    padding: 10px;
    border-radius:20px ;
    transition: opacity 0.3s;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,12,205,0.8673844537815126) 0%, rgba(0,212,255,1) 100%);
}

.header__button:hover {
    opacity: 0.7;
}

@media (max-width: 525px)  {
    .header__button {
        padding: 5px;
    }
  }
