.tariff__button {
    margin: 1em auto 2em;
    padding: 2%;
    display: block;
    color: rgb(45, 99, 218);
    background-color: white;
    border: 1px solid rgb(45, 99, 218);
    border-radius: 40px;
}