.header__items {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    list-style-type: none;
}