.services__background {
    position: absolute;
    bottom: -50%;
    left: -5%;
}

@media (max-width: 1070px)  {
    .services__background {
        bottom: -20%;
    }
  }

  @media (max-width: 550px)  {
    .services__background {
        bottom: 0%;
    }
  }