.footer__subscribe-input {
    color: white;
    width: 45%;
    margin: 0;
    padding: 0.5em 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;;
    box-sizing: border-box;
}

.footer__subscribe-input::placeholder {
    color: white;
  }