.footer__subscribe-button {
    color: white;

    width: 45%;
    margin: 0;
    padding: 0.5em 0;
    box-sizing: border-box;
    background: transparent;

    border: 1px solid white;
    border-radius: 20px;
}